# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.

* @grafana/grafana-catalog

# Frontend-platform-owned actions (based on contribution history)
/bundle-schema-types/  @grafana/grafana-frontend-platform
/bundle-size/          @grafana/grafana-frontend-platform
/bundle-types/         @grafana/grafana-frontend-platform
/create-plugin-update/ @grafana/grafana-frontend-platform